# macOS system files
.DS_Store

# Build outputs
*.o
*.out
*.exe
*.dll
*.so
*.dylib

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
*.log

# Zip files
*.zip
.config/raycast/extensions
.config/qBittorrent
.config/nvim/lazy-lock.json
.config/github-copilot
.config/clash
.config/fish/config.fish
