# Machine-Specific & Secrets
fish_variables
secrets.fish

# Default Ignored
/functions/*
/conf.d/*
/completions/*
/themes/*

# Whitelists
!/functions/claude.fish
!/functions/copy.fish
!/functions/proxy.fish
!/functions/__proxy_find_iphone.fish
!/functions/unproxy.fish
